header {
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.main-content { 
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}