<section class="container">
    <div class="form-content" >
        <h1>Formulario de Registro</h1>
        <hr>
        <form>
            <div>
                <label for="id">Id</label>
                <input type="text" name="id">
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="description">Descripción</label>
                <input type="text" name="description">
            </div>
            <div>
                <label for="logo">Logo</label>
                <input type="text" name="logo">
            </div>
            <div>
                <label for="Fecha de ">Fecha de liberación</label>
                <input type="date" name="description">
            </div>
            <div>
                <label for="description">Fecha de reestructuración</label>
                <input type="date" name="description">
            </div>
            <div class="button">
                <button>Reiniciar</button>
                <button>Crear</button>
            </div>
        </form>
    </div>
</section>